SMEV3.Core/MNPT03/Licensing2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.minprom.gov.ru/schemas/licensing/Request/1.0.2"
	xmlns:r="http://www.minprom.gov.ru/schemas/licensing/Request/1.0.2"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:com="http://www.minprom.gov.ru/schemas/commons/1.0.0">
  <xs:import namespace="http://www.minprom.gov.ru/schemas/commons/1.0.0" schemaLocation="supplementary/minprom-commons.xsd"/>
  <xs:element name="LicenseRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RequestType" default="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Тип запроса</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:int">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Format">
          <xs:annotation>
            <xs:documentation>Формат ответа (xml, pdf)</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="pdf"/>
              <xs:enumeration value="xml"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="HolderINN" minOccurs="0">
          <xs:annotation>
            <xs:documentation>ИНН владельца лицензии</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="(\d{10}|\d{12})"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:choice>
          <xs:element name="LicenseNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Номер лицензии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:sequence>
            <xs:element name="StartDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>Начальная дата периода, за который запрашиваются лицензии</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="EndDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>Конечная дата периода, за который запрашиваются лицензии</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="DateType">
              <xs:annotation>
                <xs:documentation>Тип даты запроса</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:int">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="Category" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Код категории товара</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:sequence>
            <xs:element name="DocCode" type="xs:string">
              <xs:annotation>
                <xs:documentation>Код разрешительного документа</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="DocNumber" type="xs:string">
              <xs:annotation>
                <xs:documentation>Номер разрешительного документа</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="DocDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>Дата разрешительного документа</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LicenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="License" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <!-- Номер лицензии -->
              <xs:element name="LicenseNumber" type="xs:string" />
              <!-- Статус лицензии -->
              <xs:element name="LicenseStatus">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Оформлена"/>
                    <xs:enumeration value="Действие прекращено"/>
                    <xs:enumeration value="Приостановлена"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <!-- Дата последнего изменения статуса лицензии -->
              <xs:element type="xs:date" name="StatusDate" />
              <!-- Ссылка на файл лицензии -->
              <xs:element name="LicenseFile" type="com:AttachedDocumentType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
